.box1{
    position: relative;
}
.box1::after{
    position: absolute;
    background-color: white;
    opacity: 0.7;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}