#main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}
#position{
    display: flex;
    width: 100%;
    position:relative;
    border-radius: 5px;
    align-items: center;
}
#position::after{
    content: "";
    position: absolute;
    border-radius: 5px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
}
#p{
    margin-left: 5%;
    width: 5%;
    font-size: larger;
    text-align: center;
    color: white;
    margin-right: 5%;
}
#name{
    margin-left: 5%;
    font-size: xx-large;
    padding-bottom: 0.5%;
}
#frame{
    width: 60%;
    display: flex;
    flex-direction: column;
}
#profile{
    display: flex;
}
#image{
    width: 50%;
}
#player{
    padding-left: 3%;
    width: 60%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
}
#player::after{
    content: "";
    position: absolute;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.6;
}
.red{
    color: red;
    margin-bottom: 3%;
}
#black{
    color: white;
}
#DF{
    border-radius: 5px;
    background: #219FDA;
    background: -moz-linear-gradient(top, #3DB9F3 0%, #086BA9 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #3DB9F3), color-stop(100%, #086BA9));
	background: -webkit-linear-gradient(top, #3DB9F3 0%, #086BA9 100%);
	background: -o-linear-gradient(top, #3DB9F3 0%, #086BA9 100%);
	background: -ms-linear-gradient(top, #3DB9F3 0%, #086BA9 100%);
	background: linear-gradient(to bottom, #3DB9F3 0%, #086BA9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3DB9F3', endColorstr='#086BA9', GradientType=0 );
}
#GK{
    border-radius: 5px;
    background: #FBDD22;
	background: -moz-linear-gradient(top, #FBDD22 0%, #F26324 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #FBDD22), color-stop(100%, #F26324));
	background: -webkit-linear-gradient(top, #FBDD22 0%, #F26324 100%);
	background: -o-linear-gradient(top, #FBDD22 0%, #F26324 100%);
	background: -ms-linear-gradient(top, #FBDD22 0%, #F26324 100%);
	background: linear-gradient(to bottom, #FBDD22 0%, #F26324 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FBDD22', endColorstr='#F26324', GradientType=0 );
}
#FW{
    border-radius: 5px;
    background: #F50607;
	background: -moz-linear-gradient(top, #F50607 0%, #C2262C 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #F50607), color-stop(100%, #C2262C));
	background: -webkit-linear-gradient(top, #F50607 0%, #C2262C 100%);
	background: -o-linear-gradient(top, #F50607 0%, #C2262C 100%);
	background: -ms-linear-gradient(top, #F50607 0%, #C2262C 100%);
	background: linear-gradient(to bottom, #F50607 0%, #C2262C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F50607', endColorstr='#C2262C', GradientType=0 );
}
#MF{
    border-radius: 5px;
    background: #29A143;
	background: -moz-linear-gradient(top, #82C23F 0%, #0C863C 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #82C23F), color-stop(100%, #0C863C));
	background: -webkit-linear-gradient(top, #82C23F 0%, #0C863C 100%);
	background: -o-linear-gradient(top, #82C23F 0%, #0C863C 100%);
	background: -ms-linear-gradient(top, #82C23F 0%, #0C863C 100%);
	background: linear-gradient(to bottom, #82C23F 0%, #0C863C 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82C23F', endColorstr='#0C863C', GradientType=0 );
}
#first{
    margin-top: 5%;
}
.history{
    margin-top: 5%;
}