#frames{
    width: 60%;
}
#matches{
    margin-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#finMatch{
    margin-top: 5%;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
}
#matchInfo{
    display: flex;
    flex-direction: column;
}
#matchDate{
    text-align: left;
}
#matchStadium{
    text-align: center;
}
#finMatchData{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#scoreVS{
    display: flex;
    width: 40%;
}
.VS{
    width: 10%;
}
.score{
    font-size: larger;
    color: blue;
    width: 45%;
    text-align: center;
}
.VS2{
    width: 40%;
    text-align: center;
}