#teamDet{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#teamSummary{
    /* background-color: #98c5e9; */
    width: 60%;
    justify-content: center;
    display: flex;
    
}
#image{
    display: flex;
    justify-content: center;
    width: 40%;
}
#realImage{
    width: 60%;
}
#table{
    margin-top: 5%;
    width: 60%;
}
.th2{
    text-decoration: 2px underline #44ec6c;
}
#rank{
    text-align: center;

    width:15%;
}
#result{
    text-align: center;
    width:55%;
}
#pts{
    text-align: center;
    width: 15%;
}
#gd{
    text-align: center;
    width: 20%;
}
#buttons{
    margin-left: 2%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    background-color: rgb(215, 215, 215);
    border-radius: 2px;
    width: 58%;
}
.btn{
    text-decoration: none;    
    width: 33.4%;
}
#btns{
    color: black;    
    text-align: center;
    width: 100%;
}
#btns:hover{
    background-color: wheat;
}