.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  min-height: 70vh;
  height: 50%;
  max-height: 80%;
  position: relative;
}

.userCountBox {
  text-align: center;
}
