.messages {
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  border-radius: 15px 15px 0px 0px;
  background-color: #e2e2e2;
  opacity: 0.8;
}

@media (max-width: 600px) {
  .messages {
    padding: 0;
    height: 65vh;
    width: 100%;
    overflow: auto;
    background-color: #e2e2e2;
  }
}
