#homeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home-userRank{
    width: 50%;
}
.home-userRankInfo{
    min-width: 300px;
    position: relative;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.home-userRankInfo::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.2;
    background-color: white;
}

#home-matchPlan{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.home-round{
    display: flex;
    flex-direction: row;
}

#home-rank{
    width: 80%;
    
}

.home-categoryButton{
    font-size: 1.5rem;
    background-color: transparent;
    border: 0;
}

.home-categoryButton:hover{
    font-weight: bold;
    font-size: 1.7rem;
}
#curr-home-categoryButton{
    font-weight: bold;
}

.home-playerRank{
    display: flex;
    flex-direction: row;
}






