.nav-link{
  color:black;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  margin: 10px;
}
.nav-link:hover, .nav-link:focus{
  color: blue;
}
.nav-link:active {
  color: red;
}
.nav-link-container{
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: whitesmoke;
  opacity: 0.9;
  border-bottom: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}